@charset "UTF-8";
/* CSS Document */

@font-face {
font-family: BambooBrisk;
src: url(../font/BambooBrisk.otf);
}

@font-face {
	font-family: VirginiaSky;
	src: url(../font/ViriginiaSky.ttf);
}

@font-face {
	font-family: Teen;
	src: url(../font/teen.ttf);
}


html {
	margin: -8px 75px 0 75px;
	background-image: url(../images/bg.jpeg);
	background-repeat: repeat-x;
	background-size: cover;
}

.logo {
	margin-left: 20px;
	margin-top: 20px;
}

.search {
	position: absolute;
	padding: 20px;
	right: 80px;
	top: 5%;
}

body {
	background-color: #FFFFFF;
}

nav {
	background-color: rgb(169,194,155);
	padding-top: 1px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.headerphoto {
	margin-top: -10px;
	margin-bottom: 0px;
	width: 100%;
}

.topbutton {
	position: fixed;
	right: 3.5%;
	top: 85%;
}

.topnav ul {
	text-align: center;
	font-family: VirginiaSky;
	font-size: 2em;
	width: 100%;
	margin-left: -20px;
}

.topnav li {
	display: inline-block;
	padding: 0 10px 0 10px;
	width: 15%;
	margin-left: -4px;
	margin-right: -4px;
}

.topnav li, a {
	text-decoration: none;
	color: #fff;
}

.topnav a:hover{
	background-color: rgb(241,231,201);
	padding: 33px 55px 37px 55px;
	color: rgb(86,67,29);
}

h1 {
	font-family: BambooBrisk;
	font-size: 2em;
	color: rgb(86,67,29);
}

h2 {
	font-family: BambooBrisk;
	font-size: 1.5em;
	color: rgb(86,67,29);
}


p {
	font-family: Teen;
	line-height: 1.5em;
	font-size: 1em;
}

aside {
	float: left;
	margin-right: 35px;
	margin-left: 0px;
	margin-top: -30px;
	padding: 0px 20px 30px 30px;
	background-color: rgb(231,224,211);
}

aside>h1 {
	color: rgb(86,67,29);
	font-size: 1.5em;
	padding-top: 0px;
}

aside>h2 {
	color: rgb(75,102,75);
	font-size: 1.1em;
	padding-top: 25px;
}

aside>img {
	padding-bottom: 25px;
}

.preview {
	width: 200px;
}

article {
	margin-left: 50px;
	margin-right: 50px;
}

.newsletter {
	text-align: center;
	background-color: rgb(241,231,201);
	margin-left: 400px;
	margin-right: 200px;
	padding: 20px 0 20px 0;
	color: rgba(60,60,60,1.00);
}

.newsletter:hover {
	background-color: rgb(252,218,200);
	color: rgb(113,113,116);
}

.gallery figure {
	display: inline;
	overflow: hidden;
	float: left;
	text-align: center;
}

figure>img {
	border: 7px solid rgb(231,224,211);
	opacity: .75;
} 

figure {
	width: 155px;
}

figure>img:hover {
	opacity: 1;
}

figcaption {
	font-family: Teen;
	line-height: .65em;
	font-size: .5em;
	padding-top: 10px;
}

footer {
	clear: both;
	text-align: center;
	margin-top: 60px;
	padding-bottom: 5px;
}

footer ul li {
	text-decoration: none;
	font-family: Teen;
	padding: 10px 20px 0px 20px;
	list-style: none;
	padding-right: 30px;
}

footer a:hover {
	color: rgb(214,142,109);
}

.bottomnav {
	display: block;
	margin-bottom: 10px;
}

.preview:hover {
 	position:relative;
    top: 50%;
	transform: scale(1.5);
}

footer p {
	font-family: Teen;
	font-size: .75em;
	display: inline;
	padding: 30px 10px 20px 10px;
	margin-bottom: 30px;
	color: rgba(72,72,72,1.00);
}

br {
	margin: 20px;
}

footer address {
	margin: 20px 0 30px 0;
	font-family: Teen;
	color: rgb(169,194,155);
}


/* contact form */

form {
	margin: 10px 300px 10px 300px;
	font-family: Teen;
	line-height: 2em;
}

.form {
	text-align: center;
}

.special {
	margin-top: 50px;
}

fieldset legend {
	font-family: BambooBrisk;
	font-size: 2em;
	color: rgb(169,194,155);
}

.current {
	font-size: .75em;
}

label {
	font-family: Teen;
	font-size: .85em;
	line-height: 2.5em;
	margin-left: 5px;
	color: #444343;
}


#reset #submit #reset2 #submit2 {
	text-align: center;
}

em {
	color: #C80003;
	font-size: .7em;
}

textarea {
	resize: none;
	width: 98%;
	margin-bottom: 10px;
	height: 5em;
}

button input {
	background-color: rgb(169,194,155);
}

input[type="radio"] {
	font-family: Teen;
	font-size: .85em;
	line-height: 2.5em;
}

/* thank you */

.thank {
	text-align: center;
}







