@charset "UTF-8";
/* CSS Document */



html {
	margin: -8px 75px 0 75px;
	background-image: url(../images/bg.jpeg);
	background-repeat: repeat-x;
	background-size: cover;
}

body {
	text-align: center;
	background-color: #fff;
}

footer {
	clear: both;
	text-align: center;
	margin-top: -20px;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 5px;
	background-color: #fff;
}

.bottomnav {
	display: block;
	margin-bottom: 10px;
	background-color: rgb(169,194,155);
}

.preview:hover {
 	position:relative;
    top: 50%;
	transform: scale(1.5);
}


footer ul li {
	text-decoration: none;
	font-family: Teen;
	padding: 10px 20px 0px 20px;
	list-style: none;
	padding-left: -30px;
}

footer a:link {
	color: #E5E5E5;
	text-decoration: none;
}

footer a:hover {
	color: rgb(214,142,109);
}

footer a:visited {
	color: #E5E5E5;
}

footer p {
	font-family: Teen;
	font-size: .75em;
	display: inline;
	padding: 30px 10px 20px 10px;
	margin-bottom: 30px;
	color: rgba(72,72,72,1.00);
}

br {
	margin: 20px;
}

footer address {
	margin: 20px 0 30px 0;
	font-family: Teen;
	color: rgb(169,194,155);
}
